<div *ngIf="venues" class="move-buttons">
    <button *ngIf="offset > 0" type="button" mat-raised-button class="move" color="warn" (click)="getPreviousVenues()">
        Previous
    </button>
    <span class="middle"></span>
    <button type="button" mat-raised-button class="move" color="warn" (click)="getNextVenues()">
        Next
    </button>
</div>
<div class="venue-cards">
    <mat-card class="venue-card" *ngFor="let venue of venues">
        <mat-card-header>
          <div mat-card-avatar>
              <img src="{{venue.iconUrl}}"/>
          </div>
          <mat-card-title>{{venue.name}}</mat-card-title>
          <mat-card-subtitle>{{venue.category}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            {{venue.formattedAddress[0]}}
            <br/>
            {{venue.formattedAddress[1]}}
        </mat-card-content>
        <mat-card-actions>
          <button mat-button disabled>SHOW MORE</button>
        </mat-card-actions>
    </mat-card>    
</div>
