.venue-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.venue-card {
    flex: 1 1 auto;
    margin: 5px;
}

span.middle {
    flex: 1 1 auto;
}

.move-buttons {
    display: flex;
}

button.move {
    margin: 5px;
}