<mat-toolbar color="primary">
    <span class="middle"></span>
    <button type="button" mat-raised-button color="warn" class="locate" (click)="requestLocation()">
        <mat-icon aria-hidden="false" aria-label="Location">location_on</mat-icon>
        Locate me!
    </button>
    <button type="button" mat-raised-button disabled class="locate">
        <mat-icon aria-hidden="false" aria-label="keyboard">keyboard</mat-icon>
        Manually
    </button>
</mat-toolbar>
<mat-progress-bar [color]="'warn'" [mode]="locationFetched ? 'determinate' : 'indeterminate'" [value]="100"></mat-progress-bar>