.container {
    position: absolute;
    top: 160px;
    bottom: 0;
    left: 0;
    right: 0;
}

h1 {
    font-weight: 300;
    font-size: 5rem;
}

h2 {
    font-weight: 300;
    font-size: 1rem;
    margin-left: 5px;
}

.title {
    height: 80px;
    align-items: end;
}

.description {
    height: 80px;
    align-items: center;
}

.toolbar-title {
    position: fixed;
    z-index: 10;
    top: 0;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}

.location {
    position: sticky;
}

.main {
    padding: 50px;
}