<div class="container">
  <mat-toolbar color="primary" class="toolbar-title">
    <mat-toolbar-row class="title">
        <h1>Foursquare Client</h1>
    </mat-toolbar-row>
    <mat-toolbar-row class="description">
        <h2>Fetch recommended venues near your location</h2>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-location class="location"></app-location>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
